[submodule "Pristine Copy/Bundles/PHP.tmbundle"]
	path = Pristine Copy/Bundles/PHP.tmbundle
	url = git://github.com/textmate/php.tmbundle.git
[submodule "Pristine Copy/Bundles/JavaScript.tmbundle"]
	path = Pristine Copy/Bundles/JavaScript.tmbundle
	url = git://github.com/textmate/javascript.tmbundle.git
[submodule "Pristine Copy/Bundles/HTML.tmbundle"]
	path = Pristine Copy/Bundles/HTML.tmbundle
	url = git://github.com/textmate/html.tmbundle.git
[submodule "Pristine Copy/Bundles/XML.tmbundle"]
	path = Pristine Copy/Bundles/XML.tmbundle
	url = git://github.com/textmate/xml.tmbundle.git
[submodule "Pristine Copy/Bundles/Java.tmbundle"]
	path = Pristine Copy/Bundles/Java.tmbundle
	url = git://github.com/textmate/java.tmbundle.git
[submodule "Pristine Copy/Bundles/Python.tmbundle"]
	path = Pristine Copy/Bundles/Python.tmbundle
	url = git://github.com/textmate/python.tmbundle.git
[submodule "Pristine Copy/Bundles/Source.tmbundle"]
	path = Pristine Copy/Bundles/Source.tmbundle
	url = git://github.com/textmate/source.tmbundle.git
[submodule "Pristine Copy/Bundles/Ruby.tmbundle"]
	path = Pristine Copy/Bundles/Ruby.tmbundle
	url = git://github.com/textmate/ruby.tmbundle.git
[submodule "Pristine Copy/Bundles/TextMate.tmbundle"]
	path = Pristine Copy/Bundles/TextMate.tmbundle
	url = git://github.com/textmate/textmate.tmbundle.git
[submodule "Pristine Copy/Bundles/Text.tmbundle"]
	path = Pristine Copy/Bundles/Text.tmbundle
	url = git://github.com/textmate/text.tmbundle.git
[submodule "Pristine Copy/Bundles/Ini.tmbundle"]
	path = Pristine Copy/Bundles/Ini.tmbundle
	url = git://github.com/textmate/ini.tmbundle.git
[submodule "Pristine Copy/Bundles/JSON.tmbundle"]
	path = Pristine Copy/Bundles/JSON.tmbundle
	url = git://github.com/textmate/json.tmbundle.git
[submodule "Pristine Copy/Bundles/ShellScript.tmbundle"]
	path = Pristine Copy/Bundles/ShellScript.tmbundle
	url = git://github.com/textmate/shellscript.tmbundle.git
[submodule "Pristine Copy/Bundles/TODO.tmbundle"]
	path = Pristine Copy/Bundles/TODO.tmbundle
	url = git://github.com/textmate/todo.tmbundle.git
[submodule "Pristine Copy/Bundles/reStructuredText.tmbundle"]
	path = Pristine Copy/Bundles/reStructuredText.tmbundle
	url = git://github.com/textmate/restructuredtext.tmbundle.git
[submodule "Pristine Copy/Bundles/Ant.tmbundle"]
	path = Pristine Copy/Bundles/Ant.tmbundle
	url = git://github.com/textmate/ant.tmbundle.git
[submodule "Pristine Copy/Bundles/JavaScript Tools.tmbundle"]
	path = Pristine Copy/Bundles/JavaScript Tools.tmbundle
	url = git://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "Pristine Copy/Bundles/License Helper.tmbundle"]
	path = Pristine Copy/Bundles/License Helper.tmbundle
	url = git://github.com/piouPiouM/license-helper.tmbundle.git
